@import 'vars';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: DM Serif Display;
    transition: 1s;
}

a{
    text-decoration: none;
    color: black;

    &:hover{
        cursor: pointer;
    }
}

svg:hover{
    cursor: pointer;
}

li{
    list-style-type: none;
}

button{
    &:hover{
        cursor: pointer;
    }
}

.center {
    padding-left: calc(50% - $widthSite / 2);
    padding-right: calc(50% - $widthSite / 2);
}

.svg-lines{
    position: absolute;
    z-index: -1;
    display: flex;
    gap: $widthSite / 3 - 1;
}

.header{
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    margin-bottom: 60px;

    &__menu{
        display: flex;
        gap: 63px;
        color: #292F36;
        text-align: center;
        font-family: Jost;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 125%;
    }
}

.logo{
    font-size: 40px;
    font-weight: 400;
    line-height: 125%;
}

.top{
    height: 890px;
    display: flex;
    flex-direction: column;

    &__content{
        height: 2028px;
        background-image: url(../img/top-photo.png);
        background-repeat: no-repeat;
        align-items: center;
        background-position: center;
        justify-content: center;
        border-radius: 65px;
        position: relative;

        &__block{
            position: absolute;
            top: 230px;
            left: 75px;
            width: 41%;
            display: flex;
            gap: 20px;
            flex-direction: column;

            &_h1{
                font-size: 65px;
                font-style: normal;
                font-weight: 400;
                line-height: 125%;
            }

            &_p{
                color: #4D5053;
                font-family: Jost;
                font-size: 22px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
                letter-spacing: 0.22px;
            }

            &_button{
                display: flex;
                padding: 26px 49px 26px 48px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                width: 50%;
                border-radius: 18px;
                background: #292F36;
                color: #FFF;
                font-family: Jost;
                font-size: 18px;
                font-weight: 600;
                letter-spacing: 0.36px;
                height: 75px;
                outline: none;
                border: 0px;
            }
        }
    }

    &__text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        height: 130px;
        padding-top: 90px;
        width: 60%;
        align-self: center;
        
        &_h1{
            color: #292F36;
            text-align: center;
            font-family: DM Serif Display;
            font-size: 50px;
            font-style: normal;
            font-weight: 400;
            line-height: 125%;
            letter-spacing: 1px;
        }

        &_p{
            color: #4D5053;
            text-align: center;
            font-family: Jost;
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            letter-spacing: 0.22px;
        }
    }
}

.main{
    margin-top: 90px;
    margin-top: 130px;
    display: flex;
    flex-direction: column;

    &__cards{
        display: flex;
        flex-wrap: wrap;
        gap: 100px;
        margin-bottom: 100px;

        .border-radius-top-right{
            border-top-right-radius: 80px;
        }
        .border-radius-top-left{
            border-top-left-radius: 80px;
        }

        .border-radius-bottom-left{
            border-bottom-left-radius: 80px;
        }

        .border-radius-bottom-right{
            border-bottom-right-radius: 80px;
        }

        &_card{
            width: 550px;

            &_imgs{
                position: relative;
            }

            .card__info{
                padding-top: 40px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                h2{
                    font-size: 25px;
                    font-weight: 400;
                    line-height: 125%;
                    letter-spacing: 0.5px;
                }

                p{
                    color: #4D5053;
                    font-family: Jost;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%;
                    letter-spacing: 0.22px;
                }
            }

            &.trio{
                border-radius: 62px;
                border: 1px solid #E7E7E7;
                padding: 21px;
                width: 382px;

                .card__info_text{
                    margin-top: -25px;
                    display: flex;
                    flex-direction: column;

                    h2{
                        text-align: start;
                    }

                    p{
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        align-self: flex-start;
                        text-align: left;
                        margin-top: 35px;
                        color: #4D5053;
                        font-family: Jost;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%;
                        letter-spacing: 0.16px;
                        text-transform: capitalize;
                    }
                }

                &:hover{
                    background-color: #F4F0EC;

                    svg circle.beige-white{
                        fill: white;
                    }
                }
            }

            .card__img-trio{
                border-top-left-radius: 62px;
                border-top-right-radius: 62px;
            }

            .card-img-text{
                bottom: 25px;
                position: absolute;
                left: 25px;
                background-color: white;
                font-family: Jost;
                line-height: 150%;
                letter-spacing: 0.16px;
                border-radius: 8px 8px 8px 0px;
                height: 40px;
                width: 125px;
                align-items: center;
                display: flex;
                justify-content: center;
            }
        }

    }
    .blog-buttons{
        margin-top: 50px;
        margin-bottom: 105px;
        align-self: center;
        align-items: center;
        display: flex;
        gap: 20px;

        &__button{
            width: 52px;
            height: 52px;
            border-radius: 50px;
            border: 1px solid #CDA274;
            background-color: #fff;
            color: #292F36;
            font-family: Jost;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%; /* 24px */
            text-transform: capitalize;

            &:hover{
                background-color: #F4F0EC;
                border: #F4F0EC;
            }
        }
    }

    &__info{
        height: 460px;
        width: 100vw;
        display: flex;
        align-items: center;
        // justify-content: space-evenly;
        background-color: rgba(244, 240, 236, 1);
        // position: absolute;
        left: 0px;
        justify-content: center;
        align-self: center;
        gap: 105px;
        margin-bottom: 95px;

        &_block{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;
        }

        h2{
            color: #CDA274;
            font-family: DM Serif Display;
            font-size: 85px;
            font-style: normal;
            font-weight: 400;
            line-height: 125%;
            letter-spacing: 1.7px;
        }

        p{
            color: #4D5053;
            font-family: Jost;
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            letter-spacing: 0.22px;
        }
    }

    &__news{
        margin-top: 724px;
        display: flex;
        flex-direction: column;

        h2{
            color: #292F36;
            text-align: center;
            font-size: 50px;
            line-height: 125%;
            letter-spacing: 1px;

            &.text-left{
                align-self: flex-start;
                margin-bottom: 30px;
            }
        }

        p{
            color: #4D5053;
            text-align: center;
            font-family: Jost;
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            letter-spacing: 0.22px;
            width: 60%;
            align-self: center;
            margin-bottom: 55px;
        }
        &_cards{
            display: flex;
            gap: 27px;
            flex-wrap: wrap;
        }
    }
}

.footer{
    display: flex;
    justify-content: space-between;
    margin-top: 95px;

    &__logo{
        display: flex;
        flex-direction: column;
        gap: 20px;
        flex-basis: 30%;
    }

    &__text{
        color: #4D5053;
        font-family: Jost;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 0.22px;
    }

    &__icons{
        margin-top: 5px;
        display: flex;
        gap: 55px;
    }

    &__pages, &__contacts{
        flex-basis: 30%;
        padding-left: 45px;
    }

    h2{
        color: #292F36;
        font-family: DM Serif Display;
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: 125%;
    }

    menu li, menu li a{
        color: #4D5053;
        font-family: Jost;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 300%;
        letter-spacing: 0.22px;
    }
}

.blog-top{
    width: 100vw;
    // position: relative;
    background-image: url(../img/blog-top.jpg);
    height: 356px;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-position: center;
    &__box{
        // position: absolute;
        background: white;
        width: 40%;
        height: 50%;
        border-radius: 37px 37px 0px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1{
            font-size: 50px;
            font-style: normal;
            font-weight: 400;
            line-height: 125%; 
        }

        menu{
            display: flex;
            color: #4D5053;
            font-family: Jost;
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 33px */
            letter-spacing: 0.22px;
            gap: 5px;
        }
    }

    &.blog-details{
        background-image: url(../img/blog-detail-top.jpg);
    }
}

.latest-post{
    margin-top: 230px;
    h2{
        font-size: 50px;
        font-style: normal;
        font-weight: 400;
        line-height: 125%;
        letter-spacing: 1px;
    }

    &__post{
        margin-top: 25px;
        display: flex;
        border-radius: 62px;
        border: 1px solid #E7E7E7;
        padding: 22px;
        gap: 65px;

        &_info{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 40%;
            justify-content: space-around;

            .card__info_text{
                width: 100%;

                p{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
            }

            h3{
                font-size: 25px;
                font-style: normal;
                font-weight: 400;
                line-height: 125%;
                letter-spacing: 0.5px;
            }

            p{
                color: #4D5053;
                font-family: Jost;
                font-size: 22px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
                letter-spacing: 0.22px;
            }
        }

        img{
            border-radius: 62px;
        }
    }
}


.blogs-list {
    margin-top: 100px;
  }
  .blogs-list-content {
    padding: 25px;
    display: flex;
    gap: 52px;
    justify-content: space-between;
  }
  
  .blogs-box {
    width: 67%;
  }
  
  .tags-box {
    width: 33%;
  }
  
  .blog {
    cursor: pointer;
    margin: 0 0 45px 0;
  }
  .blog-content-img {
    width: 100%;
    border-radius: 50px;
  }
  .blog-content-img-wrapper {
    margin-bottom: 46px;
  }
  .blog-header {
    margin-bottom: 21px;
  }
  .blog-header__text {
    color: #292F36;
    font-family: DM Serif Display, sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 62.5px */
    letter-spacing: 1px;
  }
  .blog-footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
  }
  .blog-date__text {
    color: #4D5053;
    font-family: Jost, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: 0.16px;
    text-transform: capitalize;
  }
  .blog-crumbs__text {
    color: #4D5053;
    font-family: Jost, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: 0.16px;
    text-transform: capitalize;
  }
  .blog-text {
    color: #4D5053;
    font-family: Jost, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 33px */
    letter-spacing: 0.22px;
  }

.blog-details-content-top {
    display: flex;
    padding: 53px 227px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    background: #F4F0EC;
    margin-bottom: 27px;
  }
  .blog-details-content-top__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .blog-details-content-top__text {
    color: #CDA274;
    text-align: center;
    font-family: DM Serif Display, sans-serif;
    font-size: 25px;
    font-style: italic;
    font-weight: 400;
    line-height: 125%; /* 31.25px */
    letter-spacing: 0.5px;
  }
  .blog-details-content-main {
    margin-bottom: 44px;
  }
  .blog-details-content-main__header {
    color: #292F36;
    font-family: DM Serif Display, sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 62.5px */
    letter-spacing: 1px;
    margin-bottom: 20px;
  }
  .blog-details-content-main__text {
    color: #4D5053;
    font-family: Jost, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 33px */
    letter-spacing: 0.22px;
  }
  .blog-details-content-sub-img {
    border-radius: 50px;
    width: 100%;
  }
  .blog-details-content-sub-img-wrapper {
    margin-bottom: 35px;
  }
  .blog-details-content-sub__text {
    color: #4D5053;
    font-family: Jost, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 33px */
    letter-spacing: 0.22px;
  }


.tag {
    padding: 9px 30px;
    border-radius: 10px;
    background: #F4F0EC;
    color: #292F36;
    text-align: center;
    font-family: Jost, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 22.5px */
    letter-spacing: 0.36px;
    cursor: pointer;
  }
  .tag:hover {
    background: #292F36;
    color: #fff;
    text-align: center;
    font-family: Jost, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 22.5px */
    letter-spacing: 0.36px;
  }
  .tag-clicked {
    background: #292F36;
    color: #fff;
    text-align: center;
    font-family: Jost, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 22.5px */
    letter-spacing: 0.36px;
  }
  
  .tags-box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 10px;
  }

  .categories-tabs{
    margin-top: 100px;
}
  