* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: DM Serif Display;
  transition: 1s;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  cursor: pointer;
}

svg:hover {
  cursor: pointer;
}

li {
  list-style-type: none;
}

button:hover {
  cursor: pointer;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.svg-lines {
  position: absolute;
  z-index: -1;
  display: flex;
  gap: 399px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  margin-bottom: 60px;
}
.header__menu {
  display: flex;
  gap: 63px;
  color: #292F36;
  text-align: center;
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}

.logo {
  font-size: 40px;
  font-weight: 400;
  line-height: 125%;
}

.top {
  height: 890px;
  display: flex;
  flex-direction: column;
}
.top__content {
  height: 2028px;
  background-image: url(../img/top-photo.png);
  background-repeat: no-repeat;
  align-items: center;
  background-position: center;
  justify-content: center;
  border-radius: 65px;
  position: relative;
}
.top__content__block {
  position: absolute;
  top: 230px;
  left: 75px;
  width: 41%;
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.top__content__block_h1 {
  font-size: 65px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}
.top__content__block_p {
  color: #4D5053;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
}
.top__content__block_button {
  display: flex;
  padding: 26px 49px 26px 48px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 50%;
  border-radius: 18px;
  background: #292F36;
  color: #FFF;
  font-family: Jost;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.36px;
  height: 75px;
  outline: none;
  border: 0px;
}
.top__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 130px;
  padding-top: 90px;
  width: 60%;
  align-self: center;
}
.top__text_h1 {
  color: #292F36;
  text-align: center;
  font-family: DM Serif Display;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 1px;
}
.top__text_p {
  color: #4D5053;
  text-align: center;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
}

.main {
  margin-top: 90px;
  margin-top: 130px;
  display: flex;
  flex-direction: column;
}
.main__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  margin-bottom: 100px;
}
.main__cards .border-radius-top-right {
  border-top-right-radius: 80px;
}
.main__cards .border-radius-top-left {
  border-top-left-radius: 80px;
}
.main__cards .border-radius-bottom-left {
  border-bottom-left-radius: 80px;
}
.main__cards .border-radius-bottom-right {
  border-bottom-right-radius: 80px;
}
.main__cards_card {
  width: 550px;
}
.main__cards_card_imgs {
  position: relative;
}
.main__cards_card .card__info {
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main__cards_card .card__info h2 {
  font-size: 25px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.5px;
}
.main__cards_card .card__info p {
  color: #4D5053;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
}
.main__cards_card.trio {
  border-radius: 62px;
  border: 1px solid #E7E7E7;
  padding: 21px;
  width: 382px;
}
.main__cards_card.trio .card__info_text {
  margin-top: -25px;
  display: flex;
  flex-direction: column;
}
.main__cards_card.trio .card__info_text h2 {
  text-align: start;
}
.main__cards_card.trio .card__info_text p {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: flex-start;
  text-align: left;
  margin-top: 35px;
  color: #4D5053;
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.16px;
  text-transform: capitalize;
}
.main__cards_card.trio:hover {
  background-color: #F4F0EC;
}
.main__cards_card.trio:hover svg circle.beige-white {
  fill: white;
}
.main__cards_card .card__img-trio {
  border-top-left-radius: 62px;
  border-top-right-radius: 62px;
}
.main__cards_card .card-img-text {
  bottom: 25px;
  position: absolute;
  left: 25px;
  background-color: white;
  font-family: Jost;
  line-height: 150%;
  letter-spacing: 0.16px;
  border-radius: 8px 8px 8px 0px;
  height: 40px;
  width: 125px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.main .blog-buttons {
  margin-top: 50px;
  margin-bottom: 105px;
  align-self: center;
  align-items: center;
  display: flex;
  gap: 20px;
}
.main .blog-buttons__button {
  width: 52px;
  height: 52px;
  border-radius: 50px;
  border: 1px solid #CDA274;
  background-color: #fff;
  color: #292F36;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 24px */
  text-transform: capitalize;
}
.main .blog-buttons__button:hover {
  background-color: #F4F0EC;
  border: #F4F0EC;
}
.main__info {
  height: 460px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(244, 240, 236);
  position: absolute;
  left: 0px;
}
.main__info_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.main__info h2 {
  color: #CDA274;
  font-family: DM Serif Display;
  font-size: 85px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 1.7px;
}
.main__info p {
  color: #4D5053;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
}
.main__news {
  margin-top: 724px;
  display: flex;
  flex-direction: column;
}
.main__news h2 {
  color: #292F36;
  text-align: center;
  font-size: 50px;
  line-height: 125%;
  letter-spacing: 1px;
}
.main__news h2.text-left {
  align-self: flex-start;
  margin-bottom: 30px;
}
.main__news p {
  color: #4D5053;
  text-align: center;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
  width: 60%;
  align-self: center;
  margin-bottom: 55px;
}
.main__news_cards {
  display: flex;
  gap: 27px;
  flex-wrap: wrap;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 95px;
}
.footer__logo {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-basis: 30%;
}
.footer__text {
  color: #4D5053;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
}
.footer__icons {
  margin-top: 5px;
  display: flex;
  gap: 55px;
}
.footer__pages, .footer__contacts {
  flex-basis: 30%;
  padding-left: 45px;
}
.footer h2 {
  color: #292F36;
  font-family: DM Serif Display;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}
.footer menu li, .footer menu li a {
  color: #4D5053;
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 300%;
  letter-spacing: 0.22px;
}

.blog-top {
  width: 100vw;
  background-image: url(../img/blog-top.jpg);
  height: 356px;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-position: center;
}
.blog-top__box {
  background: white;
  width: 40%;
  height: 50%;
  border-radius: 37px 37px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.blog-top__box h1 {
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}
.blog-top__box menu {
  display: flex;
  color: #4D5053;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 33px */
  letter-spacing: 0.22px;
  gap: 5px;
}

.latest-post {
  margin-top: 230px;
}
.latest-post h2 {
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 1px;
}
.latest-post__post {
  margin-top: 25px;
  display: flex;
  border-radius: 62px;
  border: 1px solid #E7E7E7;
  padding: 22px;
  gap: 65px;
}
.latest-post__post_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  justify-content: space-around;
}
.latest-post__post_info .card__info_text {
  width: 100%;
}
.latest-post__post_info .card__info_text p {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.latest-post__post_info h3 {
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.5px;
}
.latest-post__post_info p {
  color: #4D5053;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
}
.latest-post__post img {
  border-radius: 62px;
}/*# sourceMappingURL=style.css.map */